<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionCode="1" android:versionName="1.0" package="com.divikiran.EDMKScannerProj">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<uses-permission android:name="com.symbol.emdk.permission.EMDK" />
	<uses-library android:name="com.symbol.emdk" />
	<application android:label="EDMKScannerProj.Android"></application>
</manifest>